@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #3C92FA;
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1rem;
}

.principal {
    background-image: url("assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__titulo {
    font-size: 1.75rem;
    font-weight: 700;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 8px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal)
}

.container__aviso {
    font-size: 0.75rem;
    color: var(--cinza-secundario);
}

.container__imagem {
    margin: 2em 0 3em 0;
}

.container__caixa {
    margin: 0 7em;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 8em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 3em;
    margin-bottom: 0.5em;
}

.descricao__texto {
    color: var(--cinza-secundario);
    font-size: 1em;
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 3em;
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos{
    text-align: center;
}

.dispositivos__titulo {
    font-size: 3em;
    font-weight: 700;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 2em;
    font-weight: 700;
    color: var(--branco-principal);
}

.item {
    margin: 0 3em;
}

.rodape {
    text-align: center;
    margin: 9em 7.5em 1em 7.5em;
}

.rodape__lista {
    display: flex;
    justify-content: space-between;
    padding: 2.5em 2.5em 1.5em 2.5em;
    list-style-type: none;
}

.lista__link a {
    text-decoration: none;
    color: var(--branco-principal);
    font-size: 1em;
}

.rodape__texto {
    color: var(--cinza-secundario);
    padding-bottom: 1em;
    font-size: 0.9em;
}

.lista__link a:hover{
    color: var(--botao-azul);
}

.lista__link a:active {
    color: purple;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}